# these libs are requested to build application env
jupyter
voila
toml

# the base lib to run any sepal_ui based app
# don't forget to fix it to a specific version when you're app is ready
sepal-ui==2.16.4

# custom libs
earthengine-api
beautifulsoup4
ipyvuetify
requests
traitlets
