# these libs are requested to build application env
voila
toml
earthengine-api

# Fixes authentication process
git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release

# custom libs
beautifulsoup4
requests